# Dependencias de Node
node_modules/
npm-debug.log

# Archivos de entorno (Contraseñas, Puertos, Tokens)
.env
.env.local
.env.docker
.env.test
.env.production

# Logs y archivos del sistema
logs/
*.log
.DS_Store
